####
#SPECS
#Platform Interface application
#configuration file
##
<% components = @databag['components']%>
<% enforcement = components['enforcement']%>
<% sla_negotiation = components['sla_negotiation']%>
<% sla_platform = components['sla_platform']%>
<% applications = components['applications']%>
<% chef_server = components['chef_server']%>

#Base Paths

oauth_server.basepath=http://<%=enforcement['user_manager']['ipv4_address']%>:<%=enforcement['user_manager']['port']%>
platform_interface.basepath=http://<%=applications['platform_interface']['ipv4_address']%>:<%=applications['platform_interface']['port']%>
specs_app.basepath=http://<%=applications['webcontainer_app_rev2']['ipv4_address']%>:<%=applications['webcontainer_app_rev2']['port']%>
slo_manager.basepath=http://<%=sla_negotiation['slo_manager']['ipv4_address']%>:<%=sla_negotiation['slo_manager']['port']%>
service_manager.basepath=http://<%=sla_platform['service_manager']['ipv4_address']%>:<%=sla_platform['service_manager']['port']%>
sla_manager.basepath=http://<%=sla_platform['sla_manager']['ipv4_address']%>:<%=sla_platform['sla_manager']['port']%>
chefserver.path=http://<%=chef_server['chef_server']['ipv4_address']%>:<%=chef_server['chef_server']['port']%>


#Oauth server endpoints

authorization.endpoint=${oauth_server.basepath}/user-manager/oauth/authorize
access_verify.endpoint=${oauth_server.basepath}/user-manager/verify
token.endpoint=${oauth_server.basepath}/user-manager/oauth/token
revoke_token.endpoint=${oauth_server.basepath}/user-manager/oauth/revoke-token
profile.endpoint=${oauth_server.basepath}/user-manager/me
logout.endpoint=${oauth_server.basepath}/user-manager/oauth/authorize
oauth_server_index.endpoint=${oauth_server.basepath}/user-manager/index.jsp

#Redirect URI

redirect_uri.path=${platform_interface.basepath}/platform-interface/home.jsp


#User Dashboard

user_dashboard.path=${specs_app.basepath}/webcontainer-app-rev2/


#Components endpoints

slo_manager.endpoint=${slo_manager.basepath}/slo-manager-api/sla-negotiation/sla-templates
service_manager.endpoint=${service_manager.basepath}/service-manager/cloud-sla/security-mechanisms
sla_manager.endpoint=${sla_manager.basepath}/sla-manager/cloud-sla/slas
	
	
#Chef endpoints
	
update_chef.endpoint = ${chefserver.path}/mos/cgi/mos-chef-server-core/chef-server-update-cookbooks.cgi
update_chef.token=9c4de8823032ae4963657837b8edd741

