####
#SPECS
#Secure Web Contatiner application
#configuration file
##
<% components = @databag['components']%>
<% monitoring = components['monitoring']%>
<% enforcement = components['enforcement']%>
<% enabling_platform = components['enabling_platform']%>
<% sla_negotiation = components['sla_negotiation']%>
<% sla_platform = components['sla_platform']%>
<% applications = components['applications']%>

#Base Paths
oauth_server.basepath=http://<%=enforcement['user_manager']['ipv4_address']%>:<%=enforcement['user_manager']['port']%>
platform_interface.basepath=http://<%=applications['platform_interface']['ipv4_address']%>:<%=applications['platform_interface']['port']%>

sla_manager.basepath=http://<%=sla_platform['sla_manager']['ipv4_address']%>:<%=sla_platform['sla_manager']['port']%>
slo_manager.basepath=http://<%=sla_negotiation['slo_manager']['ipv4_address']%>:<%=sla_negotiation['slo_manager']['port']%>
planning.basepath=http://<%=enforcement['planning']['ipv4_address']%>:<%=enforcement['planning']['port']%>
implementation.basepath=http://<%=enforcement['implementation']['ipv4_address']%>:<%=enforcement['implementation']['port']%>
monitor.basepath=http://<%=monitoring['event_hub']['ipv4_address']%>:<%=monitoring['event_hub']['port']%>
metric_catalogue.basepath=http://<%=applications['metric_catalogue_app']['ipv4_address']%>:<%=applications['metric_catalogue_app']['port']%>
security_reasoner.basepath=http://<%=sla_negotiation['security_reasoner']['ipv4_address']%>:<%=sla_negotiation['security_reasoner']['port']%>


#Oauth Server endpoints
access_verify.endpoint=${oauth_server.basepath}/user-manager/verify
profile.endpoint=${oauth_server.basepath}/user-manager/me
revoke_token.endpoint=${oauth_server.basepath}/user-manager/oauth/revoke-token
oauth_server_index.endpoint=${oauth_server.basepath}/user-manager/index.jsp

#Other endpoints
sla_manager.endpoint=${sla_manager.basepath}/sla-manager/cloud-sla/
sla_manager_state.endpoint=${sla_manager.basepath}/sla-manager/cloud-sla/slas
cloud_sla.endpoint=${sla_manager.basepath}/sla-manager/cloud-sla/slas/

sla_template.endpoint=${slo_manager.basepath}/slo-manager-api/sla-negotiation/sla-templates/
slo_manager.endpoint=${slo_manager.basepath}/slo-manager-api/sla-negotiation/sla-templates/

planning.endpoint=${planning.basepath}/planning-api/plan-activities
terminate.endpoint=${planning.basepath}/planning-api/reconfigs

implementation.endpoint=${implementation.basepath}/implementation-api/impl-plans/

security_reasoner.endpoint=${security_reasoner.basepath}/security-reasoner-api/slacaiqs

monitor.endpoint=${monitor.basepath}/monitoring/events

manage.endpoint=:8080/DeployApp/upload.do

negotiation_metric_detail.endpoint=${metric_catalogue.basepath}/metric-catalogue-app/show_concrete_metric.jsp#?metric_id=




